/* サイドバーの幅を調整 */
.sidebar-pane {
    width: 200px !important;
}

/* コンテンツエリア */
.content-panel {
    margin-left: 0px !important;
}

/* マークダウンエリア */
.sl-markdown-content {
    max-width: 1000px;
}

/* 検索バーの削除 */
/* .astro-v37mnknz {
    display: none !important;
} */

/* フッターメニューの削除 */
.astro-u2l5gyhi {
    display: none !important;
}

.page-navigation {
    /* 横並びにする */
    display: flex;
    /* 要素を両端に配置 */
    justify-content: space-between;
    /* 要素を中央に揃える */
    align-items: center;
    /* 上下の余白 */
    margin-top: 20px;
}

a.back {
    /* 左端に寄せる */
    margin-right: auto;
}

a.top {
    margin: 0 auto;
    /* 中央に配置 */
    text-align: center;
}

a.next {
    /* 右端に寄せる */
    margin-left: auto;
}

.embed-container {
    position: relative;
    overflow: hidden;
    /* 16:9 のアスペクト比 */
    padding-top: 56.25%;
}

.embed-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 90%;
    /* スライド全体を1.25倍に拡大 */
    transform: scale(1.1);
    /* 拡大時の起点を左上に設定 */
    transform-origin: top left;
}